In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("D://1-Data Science//6 - Machine Learning//Navie Bayes//sms_raw_NB.csv", encoding='latin-1')
df

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

In [3]:
df.head(11)

    type                                               text
0    ham  Hope you are having a good week. Just checking in
1    ham                            K..give back my thanks.
2    ham        Am also doing in cbe only. But have to pay.
3   spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4   spam  okmail: Dear Dave this is your final notice to...
5    ham  Aiya we discuss later lar... Pick u up at 4 is...
6    ham                             Are you this much buzy
7    ham                    Please ask mummy to call father
8   spam  Marvel Mobile Play the official Ultimate Spide...
9    ham     fyi I'm at usf now, swing by the room whenever
10   ham  Sure thing big man. i have hockey elections at...

In [4]:
df.info

<bound method DataFrame.info of       type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]>

In [5]:
df.describe

<bound method NDFrame.describe of       type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]>

In [6]:
df.isnull().count()

type    5559
text    5559
dtype: int64

In [7]:
df.isna().sum()

type    0
text    0
dtype: int64

In [8]:
df.columns

Index(['type', 'text'], dtype='object')

In [9]:
type = df['type']
text = df['text']

In [10]:
grouped = df.groupby('type')

In [11]:
"""
Grouping the data based on SPAM label
"""

grouped.get_group('spam')

      type                                               text
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
8     spam  Marvel Mobile Play the official Ultimate Spide...
19    spam  U can WIN å£100 of Music Gift Vouchers every w...
34    spam  U have won a nokia 6230 plus a free digital ca...
...    ...                                                ...
5532  spam  Sunshine Quiz Wkly Q! Win a top Sony DVD playe...
5538  spam  HOT LIVE FANTASIES call now 08707509020 Just 2...
5551  spam  Ur balance is now å£500. Ur next question is: ...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...

[747 rows x 2 columns]

In [12]:
"""
TO get the ham mails form datset
"""

grouped.get_group('ham')

     type                                               text
0     ham  Hope you are having a good week. Just checking in
1     ham                            K..give back my thanks.
2     ham        Am also doing in cbe only. But have to pay.
5     ham  Aiya we discuss later lar... Pick u up at 4 is...
6     ham                             Are you this much buzy
...   ...                                                ...
5552  ham                      Already one guy loving you:-.
5553  ham               Prepare to be pounded every night...
5554  ham  You are a great role model. You are giving so ...
5555  ham  Awesome, I remember the last time we got someb...
5558  ham                    Shall call now dear having food

[4812 rows x 2 columns]

In [13]:
encoder = OneHotEncoder()

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
enc = LabelEncoder()

In [16]:
target = enc.fit_transform(df['type'])
target

array([0, 0, 0, ..., 1, 1, 0])

In [17]:
input = df['text']
input

0       Hope you are having a good week. Just checking in
1                                 K..give back my thanks.
2             Am also doing in cbe only. But have to pay.
3       complimentary 4 STAR Ibiza Holiday or å£10,000...
4       okmail: Dear Dave this is your final notice to...
                              ...
5554    You are a great role model. You are giving so ...
5555    Awesome, I remember the last time we got someb...
5556    If you don't, your prize will go to another cu...
5557    SMS. ac JSco: Energy is high, but u may not kn...
5558                      Shall call now dear having food
Name: text, Length: 5559, dtype: object

In [18]:
df.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4812   4503                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.2, shuffle=True)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
md = CountVectorizer()
X_train_count = md.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
model = MultinomialNB()
model.fit(X_train_count , y_train)

MultinomialNB()

In [25]:
X_test_count = md.fit_transform(X_test)
X_test_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [26]:
model.score(X_train_count, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [1112, 4447]